* {
  padding: 0;
  margin: 0;
  border: 0; }

body {
  width: 100%;
  transition: .3s ease all; }
  body.dark {
    background-color: #37383C; }

header, footer {
  grid-column-start: 1;
  grid-column-end: 4; }

main {
  margin-top: 95px;
  width: 100%; }

input:focus {
  outline: none; }

button {
  width: 127px;
  height: 50px;
  border: 1px solid #572EE5;
  border-radius: 25px; }

input[type="checkbox"] {
  display: none; }

input[type="checkbox"]:checked ~ .menu {
  display: block; }

input[type="checkbox"]:checked ~ .burguer-icon {
  display: none; }

input[type="checkbox"]:checked ~ .close-icon {
  display: block; }

header {
  width: 100%;
  background-color: #FFFFFF;
  border-top: solid 5px #572EE5;
  position: fixed;
  top: 0;
  z-index: 1; }
  body.dark header {
    background-color: #37383C;
    border-top: solid 5px #000000; }
  header nav {
    width: 100vw;
    height: 95px;
    position: relative; }
    header nav img {
      width: 50px;
      height: 50px;
      margin: 20px 16px 20px; }
    header nav .burguer-icon {
      display: block;
      font-size: 20px;
      position: absolute;
      top: 30px;
      right: 16px;
      color: #572EE5;
      cursor: pointer; }
      body.dark header nav .burguer-icon {
        color: #FFFFFF; }
    header nav .close-icon {
      display: none;
      font-size: 20px;
      position: absolute;
      top: 30px;
      right: 17.5px;
      color: #572EE5;
      cursor: pointer; }
      body.dark header nav .close-icon {
        color: #FFFFFF; }
    header nav ul.menu {
      display: none;
      background-color: rgba(87, 46, 229, 0.9);
      height: 100vh;
      position: fixed;
      width: 100vw; }
      body.dark header nav ul.menu {
        background-color: #000000; }
      header nav ul.menu li {
        height: 60px;
        list-style: none;
        font-family: "Montserrat", sans-serif;
        font-size: 16px;
        line-height: 28px;
        display: flex;
        align-items: center;
        justify-content: center; }
        header nav ul.menu li a {
          color: #FFFFFF;
          text-decoration: none;
          cursor: pointer;
          align-self: center;
          border-bottom: solid 1px;
          display: flex; }
          header nav ul.menu li a span {
            margin-left: 5px; }
          header nav ul.menu li a span.day {
            display: none; }
        header nav ul.menu li i {
          display: none;
          font-size: 30px;
          cursor: pointer; }
      header nav ul.menu li:hover {
        color: #572EE5;
        background-image: linear-gradient(to right, #FFFFFF, #9CAFC3); }

@media only screen and (min-width: 600px) {
  header nav {
    height: 90px;
    display: flex;
    justify-content: space-between; }
    header nav img {
      width: 50px;
      height: 50px;
      margin: 0;
      padding-left: 140px;
      padding-top: 18px; }
    header nav .burguer-icon {
      display: none; }
    header nav .close-icon {
      display: none; }
    header nav ul.menu {
      display: flex;
      background-color: #FFFFFF;
      height: 90px;
      padding-right: 156px;
      position: static;
      width: auto; }
      body.dark header nav ul.menu {
        background-color: #37383C; }
      header nav ul.menu li a {
        color: #572EE5;
        margin: 25px;
        border: none;
        text-transform: uppercase; }
        body.dark header nav ul.menu li a {
          color: #FFFFFF; }
      header nav ul.menu li a:hover {
        border-bottom: 2px solid #5ED7C6; }
      header nav ul.menu li a:active {
        text-decoration: line-through; }
      header nav ul.menu li i {
        display: block;
        color: #572EE5; }
        body.dark header nav ul.menu li i {
          color: #FFFFFF; }
      header nav ul.menu li i:hover {
        color: #5ED7C6; }
      header nav ul.menu li:hover {
        background-image: none; } }
div.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(255, 255, 255, 0.9); }

div.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  width: 80%; }
  div.modal-content div.ctn-gif img {
    width: 100%; }
  div.modal-content div.overlay {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    div.modal-content div.overlay div.group-icons {
      display: flex;
      color: #572EE5; }

span.close {
  color: #572EE5;
  float: right;
  font-size: 28px;
  font-weight: bold; }

span.close:hover,
span.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer; }

section.search {
  display: grid;
  width: 100%; }
  section.search div {
    display: flex;
    flex-direction: column;
    align-items: center; }
    section.search div p {
      font-size: 25px;
      color: #572EE5;
      font-family: "Montserrat", sans-serif;
      text-align: center;
      width: 80%;
      align-self: center;
      line-height: 33px;
      padding-top: 7px; }
      body.dark section.search div p {
        color: #FFFFFF; }
      section.search div p span {
        color: #5ED7C6; }
    section.search div div img {
      width: 85%;
      height: 130px;
      padding-top: 33px; }
    section.search div div div.ctn-search {
      width: 90%;
      border: solid 1px #572EE5;
      border-radius: 27px; }
      body.dark section.search div div div.ctn-search {
        border: solid 1px #FFFFFF; }
      section.search div div div.ctn-search div {
        display: flex;
        flex-direction: row;
        height: 50px;
        border: none;
        justify-content: center; }
        section.search div div div.ctn-search div input {
          height: 22px;
          width: 215px;
          font-family: "Roboto", sans-serif; }
          body.dark section.search div div div.ctn-search div input {
            background-color: #37383C; }
        section.search div div div.ctn-search div i {
          color: #572EE5; }
          body.dark section.search div div div.ctn-search div i {
            color: #FFFFFF; }
        section.search div div div.ctn-search div i#left-search-icon {
          display: none;
          color: #9CAFC3;
          margin-right: 5px; }
        section.search div div div.ctn-search div i.fa-search {
          display: block;
          margin-right: 10px; }
        section.search div div div.ctn-search div i.fa-times {
          display: none; }
      section.search div div div.ctn-search ul {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        width: 75%; }
        section.search div div div.ctn-search ul li {
          font-family: "Roboto", sans-serif;
          font-size: 16px;
          color: #9CAFC3;
          text-align: left; }
          section.search div div div.ctn-search ul li i {
            margin-right: 5px; }

section.trending {
  width: 100%;
  display: grid;
  grid-template-columns: 100%; }
  section.trending div {
    font-family: "Montserrat", sans-serif;
    color: #572EE5;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center; }
    body.dark section.trending div {
      color: #FFFFFF; }
  section.trending p.title {
    font-size: 18px;
    line-height: 25px;
    padding-top: 31px; }
  section.trending p.options {
    padding-bottom: 35px;
    width: 80%; }
    section.trending p.options span {
      font-size: 14px;
      line-height: 25px;
      list-style-type: none; }

section.results {
  width: 100%; }
  section.results div.ctn-results {
    display: flex;
    flex-direction: column;
    align-items: center; }
    section.results div.ctn-results p.title-results {
      font-family: "Montserrat", sans-serif;
      font-size: 25px;
      color: #572EE5;
      text-align: center;
      line-height: 40px;
      text-transform: capitalize; }
      body.dark section.results div.ctn-results p.title-results {
        color: #FFFFFF; }
    section.results div.ctn-results div.root {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 10.5px;
      grid-row-gap: 10.5px;
      padding: 10px; }
      section.results div.ctn-results div.root div.error-results {
        display: flex;
        flex-direction: column;
        padding: 20px 10%;
        text-align: center; }
        section.results div.ctn-results div.root div.error-results p {
          font-size: 22px;
          font-family: "Montserrat", sans-serif;
          color: #50E3C2;
          line-height: 25px;
          font-weight: 700; }
      section.results div.ctn-results div.root div.ctn-gif {
        width: 100%;
        position: relative; }
        section.results div.ctn-results div.root div.ctn-gif img.img-gif {
          display: block;
          width: 100%;
          height: 100%; }
        section.results div.ctn-results div.root div.ctn-gif div.overlay {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          height: 100%;
          width: 100%;
          opacity: 0;
          transition: .5s ease;
          background-color: #572EE5; }
          section.results div.ctn-results div.root div.ctn-gif div.overlay div.group-icons {
            position: absolute;
            right: 0;
            top: 0;
            display: flex;
            padding-right: 2.5px; }
            section.results div.ctn-results div.root div.ctn-gif div.overlay div.group-icons div.icon {
              opacity: 0.7;
              background: #FFFFFF;
              width: 20px;
              height: 20px;
              margin: 5px 2.5px;
              border-radius: 6px; }
              section.results div.ctn-results div.root div.ctn-gif div.overlay div.group-icons div.icon i {
                color: #572EE5;
                margin-left: 4.5px;
                font-size: 12px; }
            section.results div.ctn-results div.root div.ctn-gif div.overlay div.group-icons div.icon:hover {
              opacity: 1; }
          section.results div.ctn-results div.root div.ctn-gif div.overlay div.text-card {
            position: absolute;
            left: 0;
            bottom: 0; }
            section.results div.ctn-results div.root div.ctn-gif div.overlay div.text-card p.text-user {
              font-family: "Roboto", sans-serif;
              font-size: 14px;
              color: #FFFFFF;
              padding-left: 12px; }
            section.results div.ctn-results div.root div.ctn-gif div.overlay div.text-card p.text-gift {
              font-family: "Roboto", sans-serif;
              font-size: 15px;
              color: #FFFFFF;
              padding-left: 12px;
              padding-bottom: 5px;
              width: 80%; }
      section.results div.ctn-results div.root div.ctn-gif:hover div.overlay {
        opacity: 0.7; }
    section.results div.ctn-results button.see-more {
      color: #572EE5;
      background-color: #FFFFFF;
      margin-top: 45px;
      margin-bottom: 45px;
      font-weight: 600; }

section.error {
  width: 100%;
  display: none; }

section.favorites, section.mygifos {
  width: 100%;
  display: none;
  flex-direction: column;
  align-items: center; }
  section.favorites div.ctn-items, section.mygifos div.ctn-items {
    display: flex;
    flex-direction: column;
    align-items: center; }
    section.favorites div.ctn-items img.icon, section.mygifos div.ctn-items img.icon {
      width: 25px;
      height: 25px; }
    section.favorites div.ctn-items p.title, section.mygifos div.ctn-items p.title {
      font-family: "Montserrat", sans-serif;
      font-size: 20px;
      color: #572EE5;
      text-align: center;
      line-height: 30px; }
      body.dark section.favorites div.ctn-items p.title, body.dark section.mygifos div.ctn-items p.title {
        color: #FFFFFF; }
    section.favorites div.ctn-items img.img-nocontent, section.mygifos div.ctn-items img.img-nocontent {
      width: 150px;
      height: 150px;
      margin-top: 50px; }
    section.favorites div.ctn-items p.txt, section.mygifos div.ctn-items p.txt {
      font-family: "Montserrat", sans-serif;
      font-size: 17px;
      color: #5ED7C6;
      text-align: center;
      line-height: 33px;
      margin-top: 23px;
      margin-bottom: 115px;
      width: 75%; }
  section.favorites div.root-fav, section.mygifos div.root-fav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10.5px;
    grid-row-gap: 10.5px;
    padding: 10px; }
    section.favorites div.root-fav div.error-results, section.mygifos div.root-fav div.error-results {
      display: flex;
      flex-direction: column;
      padding: 20px 10%;
      text-align: center; }
      section.favorites div.root-fav div.error-results p, section.mygifos div.root-fav div.error-results p {
        font-size: 22px;
        font-family: "Montserrat", sans-serif;
        color: #50E3C2;
        line-height: 25px;
        font-weight: 700; }
    section.favorites div.root-fav div.ctn-gif, section.mygifos div.root-fav div.ctn-gif {
      width: 100%;
      position: relative; }
      section.favorites div.root-fav div.ctn-gif img.img-gif, section.mygifos div.root-fav div.ctn-gif img.img-gif {
        display: block;
        width: 100%;
        height: 100%; }
      section.favorites div.root-fav div.ctn-gif div.overlay, section.mygifos div.root-fav div.ctn-gif div.overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: .5s ease;
        background-color: #572EE5; }
        section.favorites div.root-fav div.ctn-gif div.overlay div.group-icons, section.mygifos div.root-fav div.ctn-gif div.overlay div.group-icons {
          position: absolute;
          right: 0;
          top: 0;
          display: flex;
          padding-right: 2.5px; }
          section.favorites div.root-fav div.ctn-gif div.overlay div.group-icons div.icon, section.mygifos div.root-fav div.ctn-gif div.overlay div.group-icons div.icon {
            opacity: 0.7;
            background: #FFFFFF;
            width: 20px;
            height: 20px;
            margin: 5px 2.5px;
            border-radius: 6px; }
            section.favorites div.root-fav div.ctn-gif div.overlay div.group-icons div.icon i, section.mygifos div.root-fav div.ctn-gif div.overlay div.group-icons div.icon i {
              color: #572EE5;
              margin-left: 4.5px;
              font-size: 12px; }
          section.favorites div.root-fav div.ctn-gif div.overlay div.group-icons div.icon:hover, section.mygifos div.root-fav div.ctn-gif div.overlay div.group-icons div.icon:hover {
            opacity: 1; }
        section.favorites div.root-fav div.ctn-gif div.overlay div.text-card, section.mygifos div.root-fav div.ctn-gif div.overlay div.text-card {
          position: absolute;
          left: 0;
          bottom: 0; }
          section.favorites div.root-fav div.ctn-gif div.overlay div.text-card p.text-user, section.mygifos div.root-fav div.ctn-gif div.overlay div.text-card p.text-user {
            font-family: "Roboto", sans-serif;
            font-size: 14px;
            color: #FFFFFF;
            padding-left: 12px; }
          section.favorites div.root-fav div.ctn-gif div.overlay div.text-card p.text-gift, section.mygifos div.root-fav div.ctn-gif div.overlay div.text-card p.text-gift {
            font-family: "Roboto", sans-serif;
            font-size: 15px;
            color: #FFFFFF;
            padding-left: 12px;
            padding-bottom: 5px;
            width: 80%; }
    section.favorites div.root-fav div.ctn-gif:hover div.overlay, section.mygifos div.root-fav div.ctn-gif:hover div.overlay {
      opacity: 0.7; }
  section.favorites button.see-more, section.mygifos button.see-more {
    color: #572EE5;
    background-color: #FFFFFF;
    margin: 45px 0px;
    font-weight: 600; }

section.gifcommunity {
  width: 100%; }
  section.gifcommunity div.ctn-gifcomm {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    background-color: #F3F5F8; }
    body.dark section.gifcommunity div.ctn-gifcomm {
      background-color: #222326; }
    section.gifcommunity div.ctn-gifcomm p.title {
      font-size: 20px;
      color: #572EE5;
      line-height: 30px;
      padding-top: 46px; }
      body.dark section.gifcommunity div.ctn-gifcomm p.title {
        color: #FFFFFF; }
    section.gifcommunity div.ctn-gifcomm p.txt {
      font-size: 16px;
      color: #000000;
      line-height: 23px;
      padding-top: 7px;
      font-family: "Roboto", sans-serif; }
      body.dark section.gifcommunity div.ctn-gifcomm p.txt {
        color: #FFFFFF; }
    section.gifcommunity div.ctn-gifcomm div.mainctn-gifs {
      width: 100%; }
      section.gifcommunity div.ctn-gifcomm div.mainctn-gifs i.ic {
        position: absolute;
        z-index: 4;
        width: 48px;
        height: 48px;
        text-align: center;
        border: 1px solid #572EE5;
        cursor: pointer;
        background-color: #F3F5F8;
        display: flex;
        align-items: center;
        justify-content: center; }
      section.gifcommunity div.ctn-gifcomm div.mainctn-gifs i.prev {
        left: 1%;
        transform: translateY(280%);
        display: none; }
      section.gifcommunity div.ctn-gifcomm div.mainctn-gifs div.ctn-gifs {
        position: relative;
        display: flex;
        align-items: center;
        width: fit-content;
        height: 304px;
        padding: 10px 0;
        margin: 0px auto;
        max-width: 90vw;
        overflow-x: scroll;
        scroll-behavior: smooth; }
        section.gifcommunity div.ctn-gifcomm div.mainctn-gifs div.ctn-gifs div.sctn-gifs {
          position: relative;
          top: 0;
          left: 0;
          display: flex;
          justify-content: center;
          transition: .5s ease-in-out; }
          section.gifcommunity div.ctn-gifcomm div.mainctn-gifs div.ctn-gifs div.sctn-gifs div.ctn-gif {
            margin: 0 10px;
            position: relative;
            width: 100%;
            float: left;
            display: flex;
            box-sizing: border-box;
            height: 100%; }
            section.gifcommunity div.ctn-gifcomm div.mainctn-gifs div.ctn-gifs div.sctn-gifs div.ctn-gif .img-gif {
              height: 300px; }
            section.gifcommunity div.ctn-gifcomm div.mainctn-gifs div.ctn-gifs div.sctn-gifs div.ctn-gif div.overlay {
              display: none; }
      section.gifcommunity div.ctn-gifcomm div.mainctn-gifs i.next {
        right: 1%;
        transform: translateY(-370%);
        display: none; }

section.creategif {
  width: 100%;
  display: none; }

footer {
  width: 100%;
  border-bottom: solid 5px #572EE5; }
  body.dark footer {
    border-bottom: solid 5px #000000; }
  footer div.ctn-footer {
    font-family: "Roboto", sans-serif;
    color: #000000;
    letter-spacing: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 196px; }
    body.dark footer div.ctn-footer {
      color: #FFFFFF; }
    footer div.ctn-footer p.share {
      font-size: 15px;
      padding-top: 47px;
      padding-bottom: 0; }
    footer div.ctn-footer div.social {
      display: flex;
      flex-direction: row;
      padding-bottom: 40px;
      padding-top: 22px; }
      footer div.ctn-footer div.social i {
        color: #CED7E1;
        margin: 5px; }
    footer div.ctn-footer p {
      font-size: 14px;
      line-height: 20px;
      padding-bottom: 23px; }

/*# sourceMappingURL=style.css.map */
