// mixins
@mixin size($width, $height) {
    width: $width;
    height: $height;
}
// extends

//operators

//global
* {
    padding: 0;
    margin: 0;
    border: 0;
}

body {
    display: grid;
    grid-template-columns: 100%;
}

header, footer {
    grid-column-start: 1;
    grid-column-end: 4;
}

main {
    margin-top: 95px;
    width: 100vw;
}
section {

}

div {

}

ul {

}

li {

}

p {

}

a {

}

input:focus{
    outline: none;
}

button {
    width: 127px;
    height: 50px;
    border-radius: 25px;
}
