div.modal {
    display: none; 
    position: fixed; 
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto;
    background-color: rgba(255, 255, 255, 0.9);
}

div.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    width: 80%;
    div.ctn-gif {
        cursor: pointer;
        img {
        width: 100%;

        }
    }
    div.overlay {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        div.group-icons {
            cursor: pointer;
            display: flex;
            color: $first-color;
            div.icon {
                margin-right: 5px;
            }
        }
    }
}

span.close {
    color: $first-color;
    float: right;
    font-size: 28px;
    font-weight: bold;
    padding-right: 35px;
    cursor: pointer;
}

span.close:hover,
span.close:focus {
  color: #000;
  text-decoration: none;
}

section.search {
   display: grid;
   width: 100%;
   div {
    display: flex;
    flex-direction: column;
    align-items: center;
        p {
            font-size: 25px;
            color: $first-color;
            font-family: $first-font;
            text-align: center;
            width: 80%;
            align-self: center;
            line-height: 33px;
            padding-top: 7px;
            body.dark & {
                color: $fifth-color;
                }
            span {
                color: $second-color;
            }
        }
        div {
   
            img {
                width: 85%;
                height: 130px;
                padding-top: 33px;
            }
            div.ctn-search {
                width: 90%;
                border: solid 1px $first-color;
                border-radius: 27px;
                body.dark & {
                    border: solid 1px $fifth-color;
                    }
               div {
                display: flex;
                flex-direction: row;
                height: 50px;
                border: none;
                justify-content: center;
                input {
                    height: 22px;
                    width: 215px;
                    font-family: $second-font;
                    body.dark & {
                        background-color: $nineth-color;
                        }
                }
                i {
                    color: $first-color;
                    body.dark & {
                        color: $fifth-color;
                        }
                    }
                i#left-search-icon {
                    display: none;
                    color: $third-color;
                    margin-right: 5px;
                }
                i.fa-search {
                    display: block;
                    margin-right: 10px;
                    cursor: pointer;
                }
                i.fa-times {
                    display: none;
                }
                }
               ul {
                    list-style-type: none;
                    display: flex;
                    flex-direction: column;
                    width: 75%;
                    li {
                        font-family: $second-font;
                        font-size: 16px;
                        color:$third-color;
                        text-align: left;
                        i {
                            margin-right: 5px;
                        }
                    }
               }
            }
        }
    }
}

section.trending {
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
  div {
    font-family: $first-font;
    color: $first-color;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    body.dark & {
        color: $fifth-color;
        }

    }
    p.title {
        font-size: 18px;
        line-height: 25px;
        padding-top: 31px;
    }
    p.options {
        padding-bottom: 35px;
        width: 80%;
        cursor: pointer;
        span {
            font-size: 14px;
            line-height: 25px;
            list-style-type: none;
        }
    }
}


section.results {
    width: 100%;
    div.ctn-results {
        display: flex;
        flex-direction: column;
        align-items: center;
        p.title-results {
            font-family: $first-font;
            font-size: 25px;
            color: $first-color;
            text-align: center;
            line-height: 40px;
            text-transform: capitalize;
            body.dark & {
                color: $fifth-color;
                }
        }
        div.root {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-column-gap: 10.5px;
            grid-row-gap: 10.5px;
            padding: 10px;
            div.error-results {
                display: flex;
                flex-direction: column;
                padding: 20px 10%;
                text-align: center;
                p {
                    font-size: 22px;
                    font-family: $first-font;
                    color: $seventh-color;
                    line-height: 25px;
                    font-weight: 700;
                }
            }
            div.ctn-gif {
            width: 100%;
            position: relative;
            cursor: pointer;
                img.img-gif {
                    display: block;
                    width: 100%;
                    height: 100%;
                }
                div.overlay {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    height: 100%;
                    width: 100%;
                    opacity: 0;
                    transition: .5s ease;
                    background-color: $first-color;
                    div.group-icons {
                        position: absolute;
                        right: 0;
                        top: 0;
                        display: flex;
                        padding-right: 2.5px;
                        div.icon {
                            cursor: pointer;
                            opacity: 0.7;
                            background: $fifth-color;
                            width: 20px;
                            height: 20px;
                            margin: 5px 2.5px;
                            border-radius: 6px;
                            i {
                                color: $first-color;
                                margin-left: 4.5px;
                                font-size: 12px;
                            }
                        }
                        div.icon:hover {
                            opacity: 1;
                        }
                    }
                    div.text-card {
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        p.text-user {
                            font-family: $second-font;
                            font-size: 14px;
                            color: $fifth-color;
                            padding-left: 12px;
                        }
                        p.text-gift {
                            font-family: $second-font;
                            font-size: 15px;
                            color: $fifth-color;
                            padding-left: 12px;
                            padding-bottom: 5px;
                            width: 80%;
                        }
                    } 
                }

            }
            div.ctn-gif:hover div.overlay {
                opacity: 0.7;
            }
        }
        button.see-more {
            color: $first-color;
            background-color: $fifth-color;
            margin-top: 45px;
            margin-bottom: 45px;
            font-weight: 600;
            cursor: pointer;
            body.dark & {
                color: $fifth-color;
                border: solid 1px $fifth-color;
                background-color: $nineth-color;
            }
        }
    }
}

section.error {
    width: 100%;
    display: none;
}

section.favorites, section.mygifos {
    width: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
    div.ctn-items {
        display: flex;
        flex-direction: column;
        align-items: center;
        img.icon {
            width: 25px;
            height: 25px;
        }
        p.title {
            font-family: $first-font;
            font-size: 20px;
            color: $first-color;
            text-align: center;
            line-height: 30px;
            body.dark & {
                color: $fifth-color;
                }
        }
        img.img-nocontent {
            width: 150px;
            height: 150px;
            margin-top: 50px;
        }
        p.txt {
            font-family: $first-font;
            font-size: 17px;
            color: $second-color;
            text-align: center;
            line-height: 33px;
            margin-top: 23px;
            margin-bottom: 115px;
            width: 75%;
        }
      
    }
    div.root-fav, div.ctn-content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 10.5px;
        grid-row-gap: 10.5px;
        padding: 10px;
        div.error-results {
            display: flex;
            flex-direction: column;
            padding: 20px 10%;
            text-align: center;
            p {
                font-size: 22px;
                font-family: $first-font;
                color: $seventh-color;
                line-height: 25px;
                font-weight: 700;
            }
        }
        div.ctn-gif {
        width: 100%;
        position: relative;
        cursor: pointer;
            img.img-gif {
                display: block;
                width: 100%;
                height: 100%;
            }
            div.overlay {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                height: 100%;
                width: 100%;
                opacity: 0;
                transition: .5s ease;
                background-color: $first-color;
                div.group-icons {
                    position: absolute;
                    right: 0;
                    top: 0;
                    display: flex;
                    padding-right: 2.5px;
                    div.icon {
                        cursor: pointer;
                        opacity: 0.7;
                        background: $fifth-color;
                        width: 20px;
                        height: 20px;
                        margin: 5px 2.5px;
                        border-radius: 6px;
                        i {
                            color: $first-color;
                            margin-left: 4.5px;
                            font-size: 12px;
                        }
                    }
                    div.icon:hover {
                        opacity: 1;
                    }
                }
                div.text-card {
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    p.text-user {
                        font-family: $second-font;
                        font-size: 14px;
                        color: $fifth-color;
                        padding-left: 12px;
                    }
                    p.text-gift {
                        font-family: $second-font;
                        font-size: 15px;
                        color: $fifth-color;
                        padding-left: 12px;
                        padding-bottom: 5px;
                        width: 80%;
                    }
                } 
            }

        }
        div.ctn-gif:hover div.overlay {
            opacity: 0.7;
        }
    }
    button.see-more {
        cursor: pointer;
        color: $first-color;
        background-color: $fifth-color;
        margin: 45px 0px;
        font-weight: 600;
        body.dark & {
            color: $fifth-color;
            border: solid 1px $fifth-color;
            background-color: $nineth-color;
        }
    }
}

section.gifcommunity {
    width: 100%;    

   div.ctn-gifcomm {
       display: flex;
       align-items: center;
       flex-direction: column;
       text-align: center;
       font-family: $first-font;
       background-color: $eleventh-color;
       body.dark & {
        background-color: $eight-color;
        }
       p.title {
        font-size: 20px;
        color: $first-color;
        line-height: 30px;
        padding-top: 46px;
        body.dark & {
            color: $fifth-color;
            }
       }
       p.txt {
        font-size: 16px;
        color: $fourth-color;
        line-height: 23px;
        padding-top: 7px;
        font-family: $second-font;
        body.dark & {
            color: $fifth-color;
            }
       }
       div.mainctn-gifs {
        width: 100%;
        i.ic {
            position: absolute;
            z-index: 4;
            width: 48px;
            height: 48px;
            text-align: center;
            border: 1px solid $first-color;
            cursor: pointer;
            background-color: $eleventh-color;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        i.prev {
            left: 1%;
            transform: translateY(280%);
            display: none;
            color: #572EE5;
            font-size: x-large;
            body.dark & {
                color: $fifth-color;
                border: solid 1px $fifth-color;
                background-color: $nineth-color;
            }
        }
        div.ctn-gifs {
            position: relative;
            display: flex;
            align-items: center;
            width: fit-content;
            height: 304px;
            padding: 10px 0;
            margin: 0px auto;
            max-width: 90vw;
            overflow-x: scroll;
            scroll-behavior: smooth;
            div.sctn-gifs {
                position: relative;
                top: 0;
                left: 0;
                display: flex;
                justify-content: center;
                transition: .5s ease-in-out;
                div.ctn-gif {
                    width: 100%;
                    position: relative;
                    cursor: pointer;
                    margin: 0 10px;
                    float: left;
                    display: flex;
                    box-sizing: border-box;
                    height: 100%;                
                       .img-gif {
                        height: 300px;
                        }
                        div.overlay {
                            position: absolute;
                            top: 0;
                            bottom: 0;
                            left: 0;
                            right: 0;
                            height: 100%;
                            width: 100%;
                            opacity: 0;
                            transition: .5s ease;
                            background-color: $first-color;
                            div.group-icons {
                                position: absolute;
                                right: 0;
                                top: 0;
                                display: flex;
                                padding-right: 2.5px;
                                div.icon {
                                    cursor: pointer;
                                    opacity: 0.7;
                                    background: $fifth-color;
                                    width: 20px;
                                    height: 20px;
                                    margin: 5px 2.5px;
                                    border-radius: 6px;
                                    i {
                                        color: $first-color;
                                        margin-left: 0.5px;
                                        font-size: 12px;
                                    }
                                }
                                div.icon:hover {
                                    opacity: 1;
                                }
                            }
                            div.text-card {
                                position: absolute;
                                left: 0;
                                bottom: 0;
                                text-align: left;
                                p.text-user {
                                    font-family: $second-font;
                                    font-size: 14px;
                                    color: $fifth-color;
                                    padding-left: 12px;
                                }
                                p.text-gift {
                                    font-family: $second-font;
                                    font-size: 15px;
                                    color: $fifth-color;
                                    padding-left: 12px;
                                    padding-bottom: 5px;
                                    width: 80%;
                                }
                            } 
                        }
                }
                div.ctn-gif:hover div.overlay {
                    opacity: 0.7;
                }
            }  
           }
        i.next {
            right: 1%;
            transform: translateY(-370%);
            display: none;
            color: #572EE5;
            font-size: x-large;
            body.dark & {
                color: $fifth-color;
                border: solid 1px $fifth-color;
                background-color: $nineth-color;
            }
        }
       }
   }
}

section.creategif {
    width: 100%;
    display: none;

    div.ctn-creategif {
        display: flex;
        justify-content: center;
        // transform: translateX(-1.7%);
        overflow: hidden;
        div.ctn-camera {
            display: none;
            justify-content: flex-end;
            .light-camera {
                margin-top: 5px;
            }
        }
        div.ctn-maker {
            display: flex;
            flex-direction: column;
            margin: 0 1%;
            .container-making {
                margin: 0 auto;
                padding: 10px;
                background-color: $fifth-color;
                border: 1px solid $first-color;
                min-height: 300px;
                width: 250px;
                height: 300px;
                max-width: 600px;
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                font-size: 14px;
                animation-duration: 2s;
                body.dark & {
                    background-color: $nineth-color;
                    color: $fifth-color;
                    border: 1px solid $fifth-color;
                    }
                .half-square {
                    display: flex;
                    justify-content: space-between;
                    .half-square-inside-tl {
                        width: 25px;
                        height: 25px;
                        border-top: 2px solid $seventh-color;
                        border-left: 2px solid $seventh-color;
                    }
                    .half-square-inside-tr {
                        width: 25px;
                        height: 25px;
                        border-top: 2px solid $seventh-color;
                        border-right: 2px solid $seventh-color;
                    }
                    .half-square-inside-bl {
                        width: 25px;
                        height: 25px;
                        border-bottom: 2px solid $seventh-color;
                        border-left: 2px solid $seventh-color;
                    }
                    .half-square-inside-br {
                        width: 25px;
                        height: 25px;
                        border-bottom: 2px solid $seventh-color;
                        border-right: 2px solid $seventh-color;
                    }
                }
                .flex-text-create {
                    display: flex;
                    justify-content: center;
                    .text-inside-create {
                        display: flex;
                        flex-direction: column;
                        text-align: center;
                        max-height: 300px;
                        max-width: 500px;
                        width: 100%;
                        h1 {
                            font-family: $first-font;
                            color: $first-color;
                            font-size: 28px;
                            margin: 18px 0;
                            span {
                                color: $second-color;
                            }
                            body.dark & {
                                color: $fifth-color;
                                }
                        }
                        p {
                            font-family: $second-font;
                            color: $fourth-color;
                            margin: 14px 0;
                            body.dark & {
                                color: $fifth-color;
                                }
                        }
                        .video-card {
                            position: absolute;
                            max-height: 300px;
                            top: 50%;
                            left: 50%;
                            -webkit-transform: translate(-50%, -50%);
                            background: rgba(87, 46, 229, 0.7);
                            font-family: 'Montserrat', sans-serif;
                            text-align: center;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            color: $fifth-color;
                            img {
                                width: 25%;
                                padding-top: 35px;
                            }
                        }
                    }
                }
            }
            .container-control {
                width: 100%;
                .container-steps {
                    display: flex;
                    margin: 15px 0;
                    font-family: $first-font;
                    text-align: center;
                    justify-content: center;
                    .step {
                        font-family: $second-font;
                        font-size: 18px;
                        color: $first-color;
                        border: 1px solid $first-color;
                        border-radius: 50%;
                        padding: 3px 10px;
                        margin: 0 10px;
                        cursor: pointer;
                        body.dark & {
                            color: $fifth-color;
                            border: 1px solid $fifth-color;
                        }
                    }
                    .hideBtn {
                        display: none;
                    }
                    .repeat-capture {
                        font-size: 13px;
                        color: $first-color;
                        -webkit-transform: translate(125%, 20%);
                        transform: translate(125%, 20%);
                        font-weight: 700;
                        cursor: pointer;
                    }
                    .time-recording {
                        color: $first-color;
                    }
                }
                .container-line {
                    margin: 10px auto;
                    height: 5px;
                    background-color: $first-color;
                    border-radius: 10px;
                    max-width: 600px;
                    body.dark & {
                        background-color: $fifth-color;
                    }
                }
                .container-buttons {
                    .button-cgf {
                        font-family: $first-font;
                        cursor: pointer;
                        margin-top: 30px;
                        padding: 10px;
                        border: 1px solid $first-color;
                        border-radius: 70px;
                        text-align: center;
                        margin: 0 auto;
                        font-size: 13px;
                        color: $first-color;
                        text-transform: uppercase;
                        font-weight: 700;
                        text-decoration: none;
                        width: 130px;
                        body.dark & {
                            border: 1px solid $fifth-color;
                            color: $fifth-color;
                        }
                    }
                    .hideBtn {
                        display: none;
                    }
                }
            }
        }
        div.container-roll {
            display: none;
            flex-direction: column;
            justify-content: flex-end;
            transform: translateY(-60px);
        }
        .hideD {
            display: block;
            body.dark & {
                display: none;
            }
        }
        .hideL {
            display: none;
            body.dark & {
                display: block;
            }
        }
    }
}

@media only screen and (min-width: 600px) {

    section.results div.ctn-results {
        padding: 20px 10%;
    }

    section.results div.ctn-results div.root, 
    section.favorites div.root-fav, 
    section.mygifos div.ctn-content {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 30px;
        grid-row-gap: 35px;
        margin: 0 auto;
    }

    section.gifcommunity div.ctn-gifcomm div.mainctn-gifs div.ctn-gifs {
        overflow: hidden;
    }

    section.gifcommunity div.ctn-gifcomm div.mainctn-gifs i.prev {
        display: flex;
    }

    section.gifcommunity div.ctn-gifcomm div.mainctn-gifs i.next {
        display: flex;
    }

    section.creategif div.ctn-creategif div.ctn-maker .container-making {
        width: 600px;
        height: 335px;
    }

    section.creategif div.ctn-creategif div.container-roll {
        display: flex;
    }

    section.creategif div.ctn-creategif div.ctn-camera {
        display: flex;
    }

    div.modal-content {
        display: flex;
        justify-content: center;
    }

    div.modal-content div {
        max-width: 400px;
    }

    span.close {
        position: absolute;
        right: 0;
        margin: -5% 15%;
    }

    div.modal {
        z-index: 10;
    }

}