div.modal {
    display: none; 
    position: fixed; 
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

div.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    div.ctn-gif img {
        width: 100%;
    }
}

span.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

span.close:hover,
span.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

section.search {
   display: grid;
   width: 100%;
   div {
    display: flex;
    flex-direction: column;
    align-items: center;
        p {
            font-size: 25px;
            color: $first-color;
            font-family: $first-font;
            text-align: center;
            width: 80%;
            align-self: center;
            line-height: 33px;
            padding-top: 7px;
            body.dark & {
                color: $fifth-color;
                }
            span {
                color: $second-color;
            }
        }
        div {
   
            img {
                width: 85%;
                height: 130px;
                padding-top: 33px;
            }
            div.ctn-search {
                width: 90%;
                border: solid 1px $first-color;
                border-radius: 27px;
                body.dark & {
                    border: solid 1px $fifth-color;
                    }
               div {
                display: flex;
                flex-direction: row;
                height: 50px;
                border: none;
                justify-content: center;
                input {
                    height: 22px;
                    width: 215px;
                    font-family: $second-font;
                    body.dark & {
                        background-color: $nineth-color;
                        }
                }
                i {
                    color: $first-color;
                    body.dark & {
                        color: $fifth-color;
                        }
                    }
                i#left-search-icon {
                    display: none;
                    color: $third-color;
                    margin-right: 5px;
                }
                i.fa-search {
                    display: block;
                    margin-right: 10px;

                }
                i.fa-times {
                    display: none;
                }
                }
               ul {
                    list-style-type: none;
                    display: flex;
                    flex-direction: column;
                    width: 75%;
                    li {
                        font-family: $second-font;
                        font-size: 16px;
                        color:$third-color;
                        text-align: left;
                        i {
                            margin-right: 5px;
                        }
                    }
               }
            }
        }
    }
}

section.trending {
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
  div {
    font-family: $first-font;
    color: $first-color;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    body.dark & {
        color: $fifth-color;
        }

    }
    p.title {
        font-size: 18px;
        line-height: 25px;
        padding-top: 31px;
    }
    p.options {
        padding-bottom: 35px;
        width: 80%;

        span {
            font-size: 14px;
            line-height: 25px;
            list-style-type: none;
        }
    }
  }


section.results {
    width: 100%;
    div.ctn-results {
        display: flex;
        flex-direction: column;
        align-items: center;
        p.title-results {
            font-family: $first-font;
            font-size: 25px;
            color: $first-color;
            text-align: center;
            line-height: 40px;
            text-transform: capitalize;
            body.dark & {
                color: $fifth-color;
                }
        }
        div.root {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-column-gap: 10.5px;
            grid-template-rows: 132.5px 132.5px 132.5px 132.5px 132.5px 132.5px;
            grid-row-gap: 10.5px;
            padding: 10px;
            div.error-results {
                display: flex;
                flex-direction: column;
                padding: 20px 10%;
                text-align: center;
                p {
                    font-size: 22px;
                    font-family: $first-font;
                    color: $seventh-color;
                    line-height: 25px;
                    font-weight: 700;
                }
            }
            div.ctn-gif {
            width: 100%;
            position: relative;
                img.img-gif {
                    display: block;
                    width: 100%;
                    height: 100%;
                }
                div.overlay {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    height: 100%;
                    width: 100%;
                    opacity: 0;
                    transition: .5s ease;
                    background-color: $first-color;
                    div.group-icons {
                        position: absolute;
                        right: 0;
                        top: 0;
                        display: flex;
                        padding-right: 2.5px;
                        div.icon {
                            opacity: 0.7;
                            background: $fifth-color;
                            width: 20px;
                            height: 20px;
                            margin: 5px 2.5px;
                            border-radius: 6px;
                            i {
                                color: $first-color;
                                margin-left: 4.5px;
                                font-size: 12px;
                            }
                        }
                        div.icon:hover {
                            opacity: 1;
                        }
                    }
                    div.text-card {
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        p.text-user {
                            font-family: $second-font;
                            font-size: 14px;
                            color: $fifth-color;
                            padding-left: 12px;
                        }
                        p.text-gift {
                            font-family: $second-font;
                            font-size: 15px;
                            color: $fifth-color;
                            padding-left: 12px;
                            padding-bottom: 5px;
                            width: 80%;
                        }
                    } 
                }

            }
            div.ctn-gif:hover div.overlay {
                opacity: 0.7;
            }
        }
        button.see-more {
            color: $first-color;
            background-color: $fifth-color;
            margin-top: 45px;
            margin-bottom: 45px;
            font-weight: 600;
        }
    }
}

section.error {
    width: 100%;
    display: none;
}

section.favorites, section.mygifos {
    width: 100%;
    display: none;
    div.ctn-items {
        display: flex;
        flex-direction: column;
        margin-top: 100px;
        align-items: center;
        img.icon {
            width: 25px;
            height: 25px;
        }
        p.title {
            font-family: $first-font;
            font-size: 20px;
            color: $first-color;
            text-align: center;
            line-height: 30px;
            body.dark & {
                color: $fifth-color;
                }
        }
        img.img-nocontent {
            width: 150px;
            height: 150px;
            margin-top: 100px;
        }
        p.txt {
            font-family: $first-font;
            font-size: 17px;
            color: $second-color;
            text-align: center;
            line-height: 33px;
            margin-top: 23px;
            margin-bottom: 115px;
            width: 75%;
        }
        div.ctn-content {
            
        }
    }
}

section.gifcommunity {
    width: 100%;    
   div.ctn-gifcomm {
       display: flex;
       align-items: center;
       flex-direction: column;
       text-align: center;
       font-family: $first-font;
       background-color: $eleventh-color;
       body.dark & {
        background-color: $eight-color;
        }
       p.title {
        font-size: 20px;
        color: $first-color;
        line-height: 30px;
        padding-top: 46px;
        body.dark & {
            color: $fifth-color;
            }
       }
       p.txt {
        font-size: 16px;
        color: $fourth-color;
        line-height: 23px;
        padding-top: 7px;
        font-family: $second-font;
        body.dark & {
            color: $fifth-color;
            }
       }
       div.mainctn-gifs {
        width: 100%;
        i.ic {
            position: absolute;
            z-index: 4;
            width: 48px;
            height: 48px;
            text-align: center;
            border: 1px solid $first-color;
            cursor: pointer;
            background-color: $eleventh-color;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        i.prev {
            left: 1%;
            transform: translateY(280%);
            display: none;
        }
        div.ctn-gifs {
            position: relative;
            display: flex;
            align-items: center;
            width: fit-content;
            height: 304px;
            padding: 10px 0;
            margin: 0px auto;
            max-width: 90vw;
            overflow-x: scroll;
            scroll-behavior: smooth;
            div.sctn-gifs {
                position: relative;
                top: 0;
                left: 0;
                display: flex;
                justify-content: center;
                transition: .5s ease-in-out;
                div.ctn-gif {
                    margin: 0 10px;
                    position: relative;
                    width: 100%;
                    float: left;
                    display: flex;
                    box-sizing: border-box;
                    height: 100%;                
                       .img-gif {
                        height: 300px;
                        }
                        div.overlay {
                            display: none;
                        }
                    }
            }  
           }
        i.next {
            right: 1%;
            transform: translateY(-370%);
            display: none;
        }
       }
   }
}

section.creategif {
    width: 100%;
    display: none;
}