// color pallete
$first-color: #572EE5;
$second-color: #5ED7C6;
$third-color: #9CAFC3;
$fourth-color: #000000;
$fifth-color: #FFFFFF;
$sixth-color: #CED7E1;
$seventh-color: #50E3C2;
$eight-color: #222326;
$nineth-color: #37383C;
$tenth-color: #6B7989;
$eleventh-color: #F3F5F8; 

// font styles
$first-font: 'Montserrat', sans-serif;
$second-font: 'Roboto', sans-serif;
