// color pallete
$first-color: #572EE5;
$second-color: #5ED7C6;
$third-color: #9CAFC3;
$fourth-color: #000000;
$fifth-color: #FFFFFF;
$sixth-color: #CED7E1;
$seventh-color: #50E3C2;
$eight-color: #222326;
$nineth-color: #37383C;
$tenth-color: #6B7989;
$eleventh-color: #F3F5F8; 

// font styles
$first-font: 'Montserrat', sans-serif;
$second-font: 'Roboto', sans-serif;

// font sizes: fsz = fontsize
$nav-fsz: 13px;
$footer-fsz: 13px;
$btn-fsz: 13px;
$creatugifotime: 13px;
$userhovergifo-fsz: 15px;
$subiendogifo-fsz: 15px;
$searchinput-fsz: 16px;
$searchresult-fsz: 16px;
$trendingparagraph-fsz: 16px;
$titlehovergifo-fsz: 16px;
$creatusgifospara-fsz: 16px;
$trendingtitle-fsz: 18px;
$numbercreatugifo-fsz: 18px;
$trendingGIFOSpara-fsz: 18px;
$searcherrorresult-fsz: 22px;
$savefirstgifo-fsz: 22px;
$favtitle-fsz: 25px;
$trendingGIFOS-fsz: 25px;
$misGIFOS-fsz: 25px;
$creatusgifos-fsz: 25px;
$searchtitle-fsz: 35px;
$searchtitleresult-fsz: 35px;